<div
  class="min-h-screen flex flex-col items-center justify-center bg-gray-900 text-white p-4"
>
  <h1 class="text-3xl font-blod mb-6">Secret Hitler</h1>

  <input
    type="text"
    placeholder="Enter your name"
    [(ngModel)]="username"
    class="w-full max-w-xs mb-4 p-2 rounded bg-gray-800 border border-gray-700 focus:outline-none"
  />

  <div class="flex gap-4 mb-4">
    <button
      (click)="createGame()"
      class="bg-green-600"
      hover:bg-green-700
      px-4
      py-2
      rounded
    >
      Create Game
    </button>
  </div>

  <div class="w-full max-w-xs mb-4">
    <input
      type="text"
      (click)="joinGame()"
      class="w-full p-2 rounded bg-gray-800 border border-gray-700 focus:outline-none"
      placeholder="Lobby Code"
    />
  </div>
</div>
